@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: black url("imagens/fundo-madeira.jpg") no-repeat top center fixed;
  background-size: cover;
}
main {
  position: relative;
  height: 100vh;
}
.telefone {
  position: absolute;
  background: url("imagens/frame-iphone.png") no-repeat;
  width: 311px;
  height: 627px;

  /* etapa de centralização de bloco*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* iframe - tela principal*/
iframe#tela-home {
  position: relative;
  top: 80px;
  left: 23px;
  width: 265px;
  height: 470px;
}
/* botões - redes sociais*/
.redes-sociais{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: right;
    
    
}
.redes-sociais > a >img{
    margin: 5px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.753);
}
/* animação - botões - redes sociais*/
.redes-sociais > a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.527);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
    transform: translate(-5px , -5px);
    transition: .1s;
}
/* botões - redes sociais*/